{% extends 'admin/base.html.twig' %}

{% block title %}Vehicles - PackTrack{% endblock %}

{% block body %}
    <div class="cards">
        <div class="card">
            <i class="fa-solid fa-truck"></i>
            <p>VH-101</p>
            <span class="status transit">Active</span>
        </div>
        <div class="card">
            <i class="fa-solid fa-truck"></i>
            <p>VH-205</p>
            <span class="status issue">Maintenance</span>
        </div>
    </div>
{% endblock %}