{% extends 'front/base.html.twig' %}

{% block title %}PackTrack – Track Your Parcel{% endblock %}

{% block body %}
<!-- HERO -->
<section class="hero">
    <div class="hero-content">
        <h1>SitMyPet</h1>
        <p>Comme à la maison, méme loin de vous</p>

       <div class="hero-section">
    <!-- PHOTO HERO -->
    <div class="hero-image">
        <img src="{{ asset('images/hommechien.png') }}" alt="Homme avec chien">
    </div>

    <!-- BARRE DE RECHERCHE -->
   <div class="search-box">
    <input type="text" placeholder="Rechercher un gardien...">
    <button class="icon-btn">
        <i class="fa fa-search"></i>
    </button>
</div>

<!-- BOUTON COMMENCER -->
    <div class="start-btn">
    <a href="/pet/new">
        <button type="button">Commencer</button>
    </a>
</div>

</div>

    </div>
</section>

<!-- CONTENT -->
<section class="content">

    <!-- TIMELINE GARDE -->
    <div class="card timeline">
        <h2>Annonce : Garde de Luna 🐶</h2>
        <span class="status">En cours</span>

        <ul>
            <li class="done">Annonce publiée <small>01 Mars</small></li>
            <li class="done">Candidatures reçues <small>3 pet-sitters intéressés</small></li>
            <li class="done">Pet-sitter sélectionné <small>Sara B.</small></li>
            <li class="pending">Début de la garde <small>05 Mars</small></li>
            <li class="pending">Fin de la garde <small>10 Mars</small></li>
        </ul>
    </div>

    <!-- DETAILS -->
    <div class="side">
        <div class="card">
            <h3>Détails de la garde</h3>
            <p><strong>Animal :</strong> Chien - Golden Retriever</p>
            <p><strong>Nom :</strong> Luna</p>
            <p><strong>Lieu :</strong> Tunis</p>
            <p><strong>Propriétaire :</strong> Nour Ben Ali</p>
        </div>

        <div class="card success">
            <h3>Période de garde</h3>
            <p>Du 05 Mars au 10 Mars</p>
        </div>

        <button class="download-btn">Télécharger la réservation</button>
    </div>

</section>
{% endblock %}
