{% extends 'admin/base.html.twig' %}

{% block title %}Invoices - PackTrack{% endblock %}

{% block body %}
    <div class="table-section">
        <h3>Invoices</h3>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Client</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>INV-3001</td>
                    <td>Mohamed Trabelsi</td>
                    <td><i class="fa-solid fa-dollar-sign"></i> 200 DT</td>
                    <td class="status delivered">Paid</td>
                </tr>
                <tr>
                    <td>INV-3002</td>
                    <td>Yasmine</td>
                    <td><i class="fa-solid fa-dollar-sign"></i> 120 DT</td>
                    <td class="status processing">Pending</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}