{% extends 'admin/base.html.twig' %}

{% block title %}Forum - PackTrack{% endblock %}

{% block body %}
    <div class="card">
        <h3><i class="fa-solid fa-comments"></i> Delivery Delays</h3>
        <p>Discussion about late deliveries and solutions.</p>
    </div>
    <div class="card">
        <h3><i class="fa-solid fa-comments"></i> Customer Feedback</h3>
        <p>Users share their delivery experience.</p>
    </div>
{% endblock %}